<script>
  export let color;
  export let height;
  export let width;
</script>
<svg viewBox="0 0 65 110" height={height} width={width}>
  <rect x="5" y="7" rx="7.5" ry="7.5" width="55" height="100" style="fill: {color}; stroke: black; stroke-width: 5px;"/>
</svg>
